name: Deploy to Koyeb

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- PERBAIKAN: Gunakan nama action yang benar ---
      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/koyeb-actions@v2
        with:
          api_token: "${{ secrets.KOYEB_API_TOKEN }}"

      # --- DEPLOYMENT ---
      - name: Build and deploy the application to Koyeb
        uses: koyeb/action-git-deploy@v1
        with:
          app-name: eshop-adpro-fideligo
          service-name: eshop-service
          git-builder: buildpack
          service-env: SERVER_PORT=8080
          service-ports: "8080:http"
          service-routes: "/:8080"